// bower:scss
// endbower

//Variables
//=========

$color1 :#7EB5D6;
$color2 :#2A75A9;
$color3 :#274257;
$color4 :#DFC184;
$color5 :#8F6048;
$color6 :#644436;

body {
    //background: #fafafa;
    background:url('https://s3.amazonaws.com/ooomf-com-files/6Icr9fARMmTjTHqTzK8z_DSC_0123.jpg') no-repeat;
    background-size:cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #2A75A9;

    padding: 0 auto;
}

h1{
    text-align:center;
}

.wrapper{
    margin: 15%;
}

.trivia{
     background:$color1;
    border-radius:10px;
}
ul{
    list-style:none;
    padding: 0;
}

li{
    border: 2px solid $color2;
    padding:10px;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
