body {
  background: url('http://i.imgur.com/idvtVoQ.jpg?1') no-repeat;
  background-size: cover;
  font-family: 'Ek Mukta', sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 300;
  padding: 0 auto;
  overflow: hidden; }

/* border-box*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  font-size: 75px; }

.wrapper {
  margin: 10% 20% 10% 20%;
  position: relative; }

.trivia {
  background: rgba(102, 0, 51, 0.5); }

.hide {
  display: none; }

.correct {
  background: #d2eba7; }

.incorrect {
  background: #eed6bd; }

ul {
  list-style: none;
  padding: 0; }

li {
  border: 2px solid rgba(238, 238, 238, 0.5);
  padding: 15px;
  margin-bottom: 5px; }

.quiz li:hover {
  background: rgba(102, 0, 51, 0.6); }

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px; }
  .hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px; }

.score {
  position: absolute;
  top: 4px;
  right: 180px;
  font-size: 75px;
  padding: 0;
  margin: 0; }

/*Input text*/
input, button, .results {
  background: rgba(102, 0, 51, 0.5);
  border: 2px solid rgba(238, 238, 238, 0.5);
  width: 100%;
  padding: 15px;
  margin-bottom: 5px;
  color: white;
  font-family: 'Ek Mukta', sans-serif;
  font-weight: 300;
  font-size: 16px; }

button, input[type=submit] {
  border: none;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px; }

input:focus {
  outline: #660033; }

input[type=submit], button {
  text-align: center;
  background: rgba(255, 204, 0, 0.5); }

input[type=submit]:hover {
  background: rgba(255, 204, 0, 0.6); }

.score-icon {
  width: 6%;
  position: absolute;
  top: 43px;
  right: 130px; }

.lives-icon1 {
  width: 6%;
  height: 6%;
  position: absolute;
  top: 43px;
  right: 70px; }

.lives-icon2 {
  width: 6%;
  height: 6%;
  position: absolute;
  top: 43px;
  right: 40px; }

.lives-icon3 {
  width: 6%;
  height: 6%;
  position: absolute;
  top: 43px;
  right: 10px; }

.results {
  font-size: 27px; }
